<div class="product">

	

	  <h4><%= product.name %></h4>
	  <h4>Description: <%= product.description %></h4>
	  <% if product.image.present? %>
	    <%= image_tag product.image, class: 'card-img-top img-fluid mx-auto d-block' %>
	  <% end %>
	  <h4>Price: $<%= product.price %></h4>
	
	
</div>